.vscode/settings.json
chess/pom.xml
chess/src/main/java/com/chess/App.java
Avengers.java
chess/src/test/java/com/chess/AppTest.java
chess/target/classes/com/chess/App.class
demo/pom.xml
demo/src/main/java/com/example/App.java
chess/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
chess/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
chess/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
chess/target/test-classes/com/chess/AppTest.class
chess/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
demo/src/test/java/com/example/AppTest.java
demo/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
demo/target/classes/com/example/App.class
demo/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
demo/target/test-classes/com/example/AppTest.class
ed/ejercicio.java
stockfish/stockfish-ubuntu-x86-64
debug_0_0.png
python/debugIMG/
python/venv/
**/__pycache__/
*.pyc
